{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
    {% if message %}
    <div id="message">{{message}}</div>
    {% endif %}
{% if clue %}
    <h2>Current Clue</h2>
    <br/>

    {% if clue.text %}
    {{ clue.text }}
    {% endif %}
    <br/>
    {% if clue.img_content %}
    <img src="data:{{ clue.img_content }}">
    {% endif %}
    <br/>

    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="solution"><br>
        <input type="submit" value="Try Answer">
    </form>
    <br/>
{% else %}
    <h2>Congratulations, you've completed your hunt!</h2>
{% endif %}

</div>

{% endblock %}
